@{
    ViewData["Title"] = "About Us";
}

<!-- =======================
Inner intro START -->
<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url(/images/i2.jpg); background-position: center left; background-size: cover;">
                    <!-- Card Image overlay -->
                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 my-auto">
                            <h1 class="text-white display-4">About us</h1>
                            <!-- breadcrumb -->
                            <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a asp-action="Index"><i class="bi bi-house me-1"></i>Home</a></li>
                                    <li class="breadcrumb-item active">About us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Inner intro END -->
<!-- =======================
About START -->
<section class="pt-4 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2>Our story</h2>
                <p class="lead">
                    How was SporstyTalk founded?
                </p>
                <p>
                    In the bustling halls of Vilnius University, a group of first-year students found themselves united by their shared love for sports. Arnas Martinkus, Skirmantas Strašinskas, Mantas Globys, Adomas Jasiukevičius, Kasparas Šumskis, and Justas Aleknavičius were brought together not just by their academic pursuits but by a common passion for staying updated on the latest sports news. As they navigated through their first year, attending classes and bonding over sports events, the group noticed a gap in the way sports news was being delivered. They longed for a platform that not only provided up-to-the-minute updates but also infused a sense of excitement and entertainment into the news delivery process.Fuelled by their entrepreneurial spirit, the six students decided to embark on a project that would not only fulfill their craving for dynamic sports news but also cater to the broader student community. And so, "SportsyTalk" was conceived—an innovative sports news website designed to deliver the freshest, most useful, and entertaining news in the world of sports.
                </p>
                <h3 class="mt-4">What we plan to do in the future:</h3>
                <ul>
                    <li>1. Integrate user feedback functionality. </li>
                    <li>2. Diversify the content with content like video highlights, interviews and feature articles.</li>
                    <li>3. Enhance the user experience.</li>
                    <li>4. Strengthen the website's presence on various social media platforms to expand the community.</li>
                </ul>
                <!-- Team START -->
                <h3 class="mb-3 mt-5">Our team</h3>
                <div class="row g-4">
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/ArnasMartinkus.jpg" alt="avatar">
                            </div>
                            <h5>Arnas Martinkus</h5>
                            <p class="m-0">Front end</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/arnas.martinkus.7">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/MantasGlobys.jpg" alt="avatar">
                            </div>
                            <h5>Mantas Globys</h5>
                            <p class="m-0">Design Lead</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/mantas.globys.9">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/SkirmantasStrašinskas.jpg" alt="avatar">
                            </div>
                            <h5>Skirmantas Strašinskas</h5>
                            <p class="m-0">Front end</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/Skirmantux">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/AdomasJasiukevičius.jpg" alt="avatar">
                            </div>
                            <h5>Adomas Jasiukevičius</h5>
                            <p class="m-0">Back end</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/profile.php?id=100008426100888">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/KasparasŠumskis.jpg" alt="avatar">
                            </div>
                            <h5>Kasparas Šumskis</h5>
                            <p class="m-0">Back end</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/kasparas.sumskis.3">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="text-center">
                            <!-- Avatar img -->
                            <div class="avatar avatar-xxl mb-2">
                                <img class="avatar-img rounded-circle" src="/images/JustasAleknavičius.jpg" alt="avatar">
                            </div>
                            <h5>Justas Aleknavičius</h5>
                            <p class="m-0">Team lead/front end</p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="https://www.facebook.com/profile.php?id=100009361362921">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 fs-5" href="#">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team END -->
        <!-- Service START -->
        <h3 class="mb-3 mt-5">What we do</h3>
        <div class="row">
            <!-- Service item-->
            <div class="col-md-6 col-lg-4 mb-4">
                <img class="rounded" src="/images/i3.jpg" alt="Card image">
                <h4 class="mt-3">Update the website</h4>
                <p>We strive to deliver your news in a new-fashioned, never before seen and most unified way like never before.</p>
            </div>
            <!-- Service item-->
            <div class="col-md-6 col-lg-4 mb-4">
                <img class="rounded" src="/images/i4.jpg" alt="Card image">
                <h4 class="mt-3">Fact-check our sources</h4>
                <p>Our team fact checks every article to make sure you get the freshest and most correct information.</p>
            </div>
            <!-- Service item-->
            <div class="col-md-6 col-lg-4 mb-4">
                <img class="rounded" src="/images/i (3).jpg" alt="Card image">
                <h4 class="mt-3">Collects the most interesting news</h4>
                <p> This is the way of the 21st century. Every piece of news is only the best and most interesting or entertaining piece of news of the day. </p>
            </div>
        </div>
        <!-- Service END -->
    </div>  <!-- Col END -->
</section>
<!-- =======================
About END -->
