<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/basketball.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/football.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/images/trophy.jpg" class="d-block w-100" alt="">
        </div>
    </div>
</div>
