@model HomeOldModel
@{
    ViewData["Title"] = "Home Page";
}
<partial name="Carousel" model="Model"></partial>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    @foreach(var category in Model.CategoryMenuItems)
    {
        <partial name="CategoryCard" model="category"/>
    }
</div>